<div class="content">
  <div class="avatar">
    <%= image_tag 'chris.jpg', class: 'thumbnail' %>
  </div>

  <div class="callout">
    <h2>Chris Hong</h2>
    <h4>Web Developer</h4>
    <p>
      Hi, I'm Chris, a Web Developer. More than 3 years career in developing
      web applications.

      Hi, I'm Chris, a Web Developer. More than 3 years career in developing
      web applications.
      Hi, I'm Chris, a Web Developer. More than 3 years career in developing
      web applications.
    </p>
  </div>
</div>
