<div id="resume" class="row">
  <div class="medium-8 large-7 columns">
    <section id="about">
      <%= render 'about' %>
    </section>

    <section id="skills">
      <%= render 'skills' %>
    </section>

    <section id="experience">
      <%= render 'experience' %>
    </section>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    NProgress.start();
  });

  $(window).load(function() {
    NProgress.done();
  });
</script>
