// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
  min-height: 30px;
}
.top-bar-title {
  margin-top: 3px;
}

.post-title {
  height: 3.5rem;
  font-size: 2rem;
  margin-left: -9px;
  margin-top: -7px;
  margin-bottom: -5px;
}

.post-content {
  // resize: none;
  min-height: 300px;
  width: 100%;
  margin-top: 50px;

  a {
    text-decoration: underline;
  }

  .content-text {
    margin-left: -15px;
    margin-top: -16px;
  }

  p:first-of-type:first-letter {
    // font-size: 85px;
    // line-height: 0.8;
    // display: block;
    // float: left;
    // font-family: 'Georgia';
    // margin:7px 15px 0 0;
  }

  blockquote {

    p:first-of-type:first-letter {
      font-size: inherit;
      line-height: inherit;
      display: inherit;
      float: inherit;
      font-family: inherit;
      margin: inherit;
    }
  }
}

.post-tags {
  margin-top: 50px;
  ul {
    margin: 0;
    padding-left: 0;
    color: #4F4F4F;

    li {
      a {
        padding: 6px 15px;
        border: 1px solid #4F4F4F;
      }
    }
  }
}

.errors {
  ul {
    list-style: none !important;
  }
}
