// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
  min-height: 30px;
}
.top-bar-title {
  margin-top: 3px;
}

.post-content {
  // resize: none;
  min-height: 300px;
  width: 100%;
}

.errors {
  ul {
    list-style: none !important;
  }
}
