<header>
  <div class="top-bar row large-10 columns">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <span class="menu-icon dark" data-toggle></span>
      </span>
      <strong>
        <%= link_to 'HzChris', posts_path %>
      </strong>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <% cache do %>
          <ul class="dropdown menu" data-dropdown-menu>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to category.name, categories_path(category.name) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="info">

  </div>
</header>
